.counter {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 12px 0 0;
}

.snowfall {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.snowfall-bar {
  flex-basis: 0;
  flex-grow: 1;
  margin: calc(0.125 * (1em + 1ex));
  background-color: var(--fg);
}

.myList {
  margin: 1em;
  padding: 0;
  list-style: decimal;
  justify-content: left;
  
}

.uList {
  margin: 1em;
  padding: 0;
  list-style: circle;
  justify-content: left;
  
}

.link {
  color: blue;
}

/* unvisited link */
.link:link {
  color: blue;
}

/* visited link */
.link:visited {
  color: red;
}

/* mouse over link */
.link:hover {
  color: rgb(227, 87, 157);
  text-decoration: underline;
}

/* selected link */
.link:active {
  color: rgb(97, 173, 203);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 12px 0 0;
  margin-bottom: 1ex;
}

.container {
  height: 60vh; /* Full height of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 12px;
}

.label {
  /* display: inline-block; */
  width: 80px;
  
}
